<div style="height: 100vh; background-color: #e2e8f0;" class="d-flex justify-content-center align-items-center">
  <form [formGroup]="form" class="shadow p-4 rounded-lg bg-white">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">First name</label>
        <input
          [ngClass]="{'is-invalid': firstname.touched && firstname.invalid,'is-valid': firstname.touched && firstname.valid }"
          type="text" formControlName="firstName" class="form-control text-muted" id="firstName" value="Mark" required>
        <div
          [ngClass]="{'d-block': firstname.touched && firstname.invalid,'d-block': firstname.touched && firstname.valid }"
          *ngIf="firstname.errors.required" class="invalid-feedback">
          Your first name is required!
        </div>
        <div
          [ngClass]="{'d-block': firstname.touched && firstname.invalid,'d-block': firstname.touched && firstname.valid }"
          *ngIf="firstname.errors.minlength" class="invalid-feedback">
          first name should be at least 3 characters
        </div>
        <div [ngClass]="{'d-block': firstname.touched && firstname.valid }" class="valid-feedback">
          Looks good!
        </div>

      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Last name</label>
        <input
          [ngClass]="{'is-invalid': lastname.touched && lastname.invalid,'is-valid': lastname.touched && lastname.valid }"
          type="text" formControlName="lastName" class="form-control text-muted" id="lastName" value="Otto" required>

        <div
          [ngClass]="{'d-block': lastname.touched && lastname.invalid,'d-block': lastname.touched && lastname.valid }"
          *ngIf="lastname.errors.required" class="invalid-feedback">
          Your last name is required!
        </div>
        <div
          [ngClass]="{'d-block': lastname.touched && lastname.invalid,'d-block': lastname.touched && lastname.valid }"
          *ngIf="lastname.errors.minlength" class="invalid-feedback">
          first lastname should be at least 3 characters
        </div>
        <div [ngClass]="{'d-block': lastname.touched && lastname.valid }" class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">City</label>
        <input type="text" formControlName="city" class="form-control" id="city" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault04">State</label>
        <select class="custom-select text-muted" id="state" required>
          <option selected disabled value="">Choose...</option>
          <option>test</option>
          <option>Otawa</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Zip</label>
        <input formControlName="zip" type="text" class="form-control" id="zip" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>